* {
  margin: 0;
  padding: 0;
}
body {
  transition: all 1s ease;
  background-image: linear-gradient(120deg, #50a2f0, #1260a8);
}

.sketch {
  margin-left: 100rem;
}

.Refresh i {
  pointer-events: none;
}

.Refresh {
  transition: all 0.5s ease;
  align-items: center;
  border-radius: 30%;
  margin-left: 35rem;
  margin-right: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
  padding: 1rem;
  border: none;
  background: #2b76bb;
  color: #1260a8;
}

.Refresh:hover {
  color: #2b76bb;
  background: #1260a8;
  cursor: pointer;
}
